#copyAlert,
#copy-confirmation {
    opacity: 0;
    transition: opacity 0.6s ease-in-out;
    display: none;
}

/* General styles */
body {
    font-family: Arial, sans-serif;
    background-color: #333;

    /* Dark background */
    color: white;
    padding: 20px;
    min-width: 250px;
    box-sizing: border-box;
}

#header {
    display: flex;
    align-items: center;
    margin-bottom: 0px;
}

#logo {
    height: 40px;
    margin-right: 10px;
}

#title {
    font-size: 1.5em;
    font-weight: bold;
}

/* Button styles */
#buttons {
    display: flex;
    margin-left: 50px;
    margin-bottom: 4px;
    justify-content: flex-start;
}

.clear {
    margin-right: 10px;
}

.copy {
    margin-right: 10px;
}

.styled-button {
    border: none;
}